html,
body,
.App {
  min-height: 100%;
}

body {
  /* background-color: #e2e1e0; */
  background-image: linear-gradient(
    to left,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );

  /* background: #4ca1af;
  background: -webkit-linear-gradient(to right, #c4e0e5, #4ca1af);
  background: linear-gradient(to right, #c4e0e5, #4ca1af); */
  /* 
  background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%); */
  /* background-image: linear-gradient(to right, #81d4fa 0%, #80cbc4 100%); */
  /* background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%); */

  /* background-image: linear-gradient(
    to right,
    rgba(191, 224, 251, 1) 0%,
    rgba(232, 233, 251, 1) 25.8%,
    rgba(252, 239, 250, 1) 50.8%,
    rgba(234, 251, 251, 1) 77.6%,
    rgba(240, 251, 244, 1) 100.7%
  ); */
}

* {
  box-sizing: border-box;
}
