<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"  media="screen,projection"/>


    <link rel='stylesheet' href='/stylesheets/jquery.fancybox.min.css' />
    <link rel='stylesheet' href='/stylesheets/grid.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="bg-primary header-bar">
      &nbsp;
    </div>
    <div class="container">
      <!-- Page Content goes here -->
      <h3><%= title %></h3>
      <p>Welcome to <%= title %></p>

      <div class="d-flex justify-content-between">
        <div>

          <a class="btn btn-light btn-sm" href="/group/categories">
            Kategorien
          </a>

          <a class="btn btn-light btn-sm" href="/group/days">
            Tage
          </a>
          <a class="btn btn-light btn-sm" href="/group/months">
            Monate
          </a>
          <a class="btn btn-light btn-sm" href="/group/years">
            Jahre
          </a>

<!--          <button class="sort-by waves-effect grey lighten-3 waves-cyan btn-flat" data-sort-by="time">-->
<!--            Datum-->
<!--          </button>-->
<!--          <button class="sort-by waves-effect grey lighten-3 waves-cyan btn-flat" data-sort-by="original-order">-->
<!--            Initial-->
<!--          </button>-->
<!--          <button class="sort-by waves-effect grey lighten-3 waves-cyan btn-flat" data-sort-by="random">-->
<!--            Random-->
<!--          </button>-->
        </div>
        <div>
<!--          <button class="filter waves-effect cyan btn-flat" data-filter="*">-->
<!--            All-->
<!--          </button>-->
<!--          <button class="filter waves-effect cyan btn-flat" data-filter=".image">-->
<!--            Images-->
<!--          </button>-->


<!--          <button class="filter waves-effect cyan btn-flat" data-filter=".video">-->
<!--            Videos-->
<!--          </button>-->

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input filter-exclusive" id="filter-video" data-filter=".video">
            <label class="custom-control-label" for="filter-video">Videos</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input filter-exclusive" id="filter-image" data-filter=".image">
            <label class="custom-control-label" for="filter-image">Bilder</label>
          </div>

          <% tags.forEach(function(tag) { %>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input filter-inclusive" id="filter-<%= tag.code %>" data-filter=".<%= tag.code %>">
              <label class="custom-control-label" for="filter-<%= tag.code %>"><%= tag.name %></label>
            </div>
          <% }) %>

        </div>
      </div>


      <% categories.forEach(function(category) { %>
        <div class="grid-wrapper">
          <% const items = category.items %>
          <h6 class="grid-title"><%= category.name %></h6>

          <div class="grid">

            <div class="grid-sizer"></div>

            <% items.forEach(function(item) { %>
              <% const original = item.files.find(file=>file.type==="original") %>
              <% const thumb = item.files.find(file=>file.type==="thumb") %>
              <% const medium = item.files.find(file=>file.type==="medium") %>
              <% const type = original.mimetype.split('/')[0] %>
              <% const tagsClasses = item.tags.map(tag=>tag.code).join(" ") %>
              <div
                class="grid-item grid-item--width-<%= item.gridWidth %> grid-item--height-<%= item.gridHeight %> <%= type %> <%= tagsClasses %>"
                data-time="<%= item.createdAt.getTime() %>"
              >
                <a
                  class="grid-item-content"
                  data-fancybox="gallery"
                  data-type="<%= type %>"
                  data-width="<%= original.width %>"
                  data-height="<%= original.height %>"
                  data-caption="<%= item.comment %>"
                  href="/files/<%= medium? medium.id : original.id %>"
                  style="background: transparent url('/files/<%= thumb? thumb.id : 0 %>') no-repeat center center / cover"
                >
                </a>

              </div>
            <% }) %>
          </div>
        </div>


      <% }) %>
    </div>






    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/javascripts/isotope.min.js"></script>
    <script type="text/javascript" src="/javascripts/isotope.imagesloaded.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/custom.js"></script>
  </body>
</html>
