<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/bootstrap-datepicker.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="bg-primary header-bar">
  &nbsp;
</div>
<div class="container">

  <h3><%= title %></h3>
  <p>Welcome to <%= title %></p>

  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="category">Kategorie:</label>
        <div class="input-group input-group-sm">
          <select name="category" id="category" class="form-control form-control-sm">
            <% categories.forEach( category => { %>
              <option value="<%= category.id %>"> <%= category.name %> </option>
            <% }) %>
          </select>
          <div class="input-group-append">
            <button class="btn-light btn" type="button" data-toggle="collapse" data-target="#add-category-area" aria-expanded="false" aria-controls="add-category-area">
              <i class="material-icons md-18">
                add
              </i>
            </button>

          </div>
        </div>

      </div>

      <div class="collapse" id="add-category-area">
        <form action="/tags" method="post">
        <div class="input-group input-group-sm mb-3">
          <input type="text" name="categoryName" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="add-category-btn">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="add-category-btn">Hinzufügen</button>
          </div>
        </div>
        </form>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="event-date">Ereignisdatum:</label>
        <div class="input-group input-group-sm date" data-provide="datepicker" data-date-language="de-DE">
          <input type="text" class="form-control" id="event-date" >
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="material-icons md-18">
                event_note
              </i>
            </span>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="tags">Tags:</label>
        <div class="input-group input-group-sm">
          <select multiple class="form-control form-control-sm" id="tags">
            <% tags.forEach( tag => { %>
              <option value="<%= tag.id %>"> <%= tag.name %> </option>
            <% }) %>
          </select>
          <div class="input-group-append">
            <button class="btn-light btn" type="button" data-toggle="collapse" data-target="#add-tag-area" aria-expanded="false" aria-controls="add-tag-area">
              <i class="material-icons md-18">
                add
              </i>
            </button>

          </div>
        </div>
      </div>

      <div class="collapse" id="add-tag-area">
        <form action="/tags" method="post">
        <div class="input-group input-group-sm mb-3">
          <input type="text" name="tagName" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="add-tag-btn">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="add-tag-btn">Hinzufügen</button>
          </div>
        </div>
        </form>
      </div>

    </div>

  </div>







  <div class="form-group">
    <label class="btn btn-light btn-sm">
      Durchsuchen... <input type="file" name="file-upload" id="file-upload" multiple class="form-control-file" hidden>
    </label>

  </div>
  <div id="file-list"></div>
  <button id="upload-btn" class="btn btn-primary btn-sm">Start</button>

</div>



<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datepicker.de.min.js"></script>
<script src="/javascripts/upload.js"></script>
</body>
</html>
