*{
  box-sizing: border-box;
}

.grid {
  width: 100%
}


.grid-item {
  min-height: 1px;
  position: relative;

  /*border: 2px solid white;*/
}


.grid-item:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.grid-item--width-1.grid-item--height-2:before {
  padding-top: 200%;
}
.grid-item--width-1.grid-item--height-3:before {
  padding-top: 300%;
}
.grid-item--width-2.grid-item--height-1:before {
  padding-top: 50%;
}
.grid-item--width-2.grid-item--height-3:before {
  padding-top: 166.6666%;
}
.grid-item--width-3.grid-item--height-1:before {
  padding-top: 33.333333%;
}
.grid-item--width-3.grid-item--height-2:before {
  padding-top: 66.666666%;
}

.grid-item-content{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid white;
}

.grid-sizer,
.grid-item {
  width: calc(100% / 9);
}
.grid-item--width-2 {
  width: calc(100% / 9 * 2);
}
.grid-item--width-3 {
  width: calc(100% / 9 * 3);
}

@media screen and (max-width: 991px){
  .grid-sizer,
  .grid-item {
    width: calc(100% / 7);
  }
  .grid-item--width-2 {
    width: calc(100% / 7 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 7 * 3);
  }

}

@media screen and (max-width: 767px){
  .grid-sizer,
  .grid-item {
    width: calc(100% / 5);
  }
  .grid-item--width-2 {
    width: calc(100% / 5 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 5 * 3);
  }

}

@media screen and (max-width: 575px){
  .grid-sizer,
  .grid-item {
    width: calc(100% / 3);
  }
  .grid-item--width-2 {
    width: calc(100% / 3 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 3 * 3);
  }

}

/* grid category */

.grid-category {
  width: 100%;
}
.grid-category:before {
  padding-top: inherit;
}
.grid-category  {
  width: 100%;
}
