.header-bar {
  height: 5px;
  margin-bottom: 15px;
}

#file-list {
  margin-bottom: 15px;

  .progress {
    height: 0.5em;
    margin-top: 5px;
  }
}



.grid-title {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
