.grid {
  width: 100%;
  margin-bottom: 15px;
}

.grid-item {
  min-height: 1px;
  position: relative;

  /*border: 2px solid white;*/
}

.grid-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-item--width-1.grid-item--height-2:before {
  padding-top: 200%;
}
.grid-item--width-1.grid-item--height-3:before {
  padding-top: 300%;
}
.grid-item--width-2.grid-item--height-1:before {
  padding-top: 50%;
}
.grid-item--width-2.grid-item--height-3:before {
  padding-top: 150%;
}
.grid-item--width-3.grid-item--height-1:before {
  padding-top: 33.333333%;
}
.grid-item--width-3.grid-item--height-2:before {
  padding-top: 66.666666%;
}

.grid-item-content-wrapper {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px; /* Gutter width*/
}

.grid-item-content-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}

.grid-item-content {
  width: 100%;
  display: block;
  position: relative;
  min-height: 100%;
  border: 2px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: box-shadow, top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.grid-item-content:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  top: -2px;
}

.grid-item-content--selected,
.grid-item-content--selected:hover {
  border: 6px solid #0277bd;
}

.grid-sizer,
.grid-item {
  width: calc(100% / 9);
}
.grid-item--width-2 {
  width: calc(100% / 9 * 2);
}
.grid-item--width-3 {
  width: calc(100% / 9 * 3);
}

@media screen and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: calc(100% / 7);
  }
  .grid-item--width-2 {
    width: calc(100% / 7 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 7 * 3);
  }
}

@media screen and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: calc(100% / 5);
  }
  .grid-item--width-2 {
    width: calc(100% / 5 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 5 * 3);
  }
}

@media screen and (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: calc(100% / 3);
  }
  .grid-item--width-2 {
    width: calc(100% / 3 * 2);
  }
  .grid-item--width-3 {
    width: calc(100% / 3 * 3);
  }
}

/* grid header */

.grid-header {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
}
.grid-header:before {
  padding-top: 0;
}

.grid-header-content {
  font-weight: 600;
}
